.header {
    background: #000;
    display: flex;
    justify-content: space-between;
    height: 80px;
}

.header__inner {
    max-width: 1230px;
    display: flex;
    align-items: center;
}

.header__logo {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 40px;
}



.header__category {
    display: flex;
    align-items: center;
}

.header__categorylogo {
    text-decoration: none;
    color: #fff;
}